*.pd
*.bat
*.log
*.log
*.wdb
*.rlx
*.exe
*.rtti
*.xdbg
*.mem
*xpr
*obj
*.reloc
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/compile.bat
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/compile.log
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/elaborate.bat
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/elaborate.log
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/simulate.bat
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/tb_behav.wdb
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/tb_behav/obj/xsim_0.win64.obj
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/tb_behav/obj/xsim_1.c
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/tb_behav/obj/xsim_1.win64.obj
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsim.dbg
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsim.mem
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsim.reloc
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsim.rlx
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsim.rtti
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsim.xdbg
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsimk.exe
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsimkernel.log
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/tb_behav/xsimSettings.ini
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/cpu.sdb
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/glbl.sdb
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/ram.sdb
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/rom.sdb
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/tb.sdb
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xvlog.log
CMPE140 Lab3/CMPE140 Lab3.sim/sim_1/behav/xsim/xvlog.pb
CMPE140 Lab3/CMPE140 Lab3.xpr
